<!doctype html>
<html lang="en">
  <head>
    <style>
      body {
        margin: 0;
        padding: 0;
      }

      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    </style>
    <script src='cyclemap.js'></script>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />
    <title>CycleMap</title>
  </head>
  <body>
    <div id="map"></div>
    <script type="text/javascript">
      // TODO: Enter your mapbox gl access token on the line below
      mapboxgl.accessToken = ''
      var map = new mapboxgl.Map({
        container: 'map',
        style: cyclemap,
        hash: true,
        dragRotate: false,
        maxZoom: 20,
        center: [10.85, 48.05],
        zoom: 12
      });

      var nav = new mapboxgl.NavigationControl();
      map.addControl(nav, 'top-right');      
/*
      map.on('load', function () {
        map.addSource('global', {
          'type': 'vector',
          "tiles": ["http://localhost:8080/maps/global/{z}/{x}/{y}.vector.pbf"],
        });

        map.addSource('local', {
          'type': 'vector',
          "tiles": ["http://localhost:8080/maps/local/{z}/{x}/{y}.vector.pbf"],
        });

        map.addLayer({
          "id": "admin",
          "source": "local",
          "source-layer": "admin",
          "type": "line",
          "paint": {
            "line-color": "#AA00AA",
            "line-width": 3
          }
        });

        map.addLayer({
          "id": "mywater",
          "source": "global",
          "source-layer": "simplified_water_polygons",
          "type": "fill",
          "paint": {
            "fill-color": "#7babcd",
            "fill-outline-color": "#7babcd"
          }
        });

        map.addLayer({
          "id": "buildings",
          "source": "local",
          "source-layer": "buildings",
          "type": "fill",
          "paint": {
            "fill-color": "#444",
          }
        });
      });
*/
    </script>
  </body>
</html>